<div class="upper-content">
    <div class="col-6 header">
        <h3 class="d-flex justify-content-center">Network service</h3>
    </div>
    <div class="upper-menu col-3">
        <div class="navigation">
            <ul>
                <li class="list active">
                    <a routerLink="post">
                        <span class="icon">
                           <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">Home</span>
                    </a>
                </li>
                <li class="list">
                    <a routerLink="user-profile">
                        <span class="icon">
                            <ion-icon name="person-outline"></ion-icon>
                        </span>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <li class="list">
                    <a routerLink="newest-posts">
                        <span class="icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </span>
                        <span class="text">Newest</span>
                    </a>
                </li>
                <li class="list">
                    <a routerLink="group">
                        <span class="icon">
                            <ion-icon name="people-circle-outline"></ion-icon>
                        </span>
                        <span class="text">Groups</span>
                    </a>
                </li>
                <li class="list">
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
