* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --clr: #222327;
}
.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr);
    padding: 0px;
}
.navigation {
    position: relative;
    width: 400px;
    height: 70px;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    display: flex;
    width: 350px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navigation ul li:hover a .icon {
    transform: translateY(-20px);
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.5em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text {
   opacity: 1;
   transform: translateY(15px);   
}
.upper-content {
    display: flex;
    background-color: #aaa;
}

.header {
    padding-top: 25px;
}