﻿@page
@model SocialNetworkingServiceApp.API.Pages.Index

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport", content="width=device-width">
    @* <link href="@Url.Content($"/Index.cshtml.css")" rel="stylesheet" type="text/css"/> *@
    @* <link href="Index.cshtml.css" rel="stylesheet" type="text/css"/> *@
    <title>Index</title>
</head>
<body>
<h3>@Model.Message</h3>
<h3>This is test message</h3>
</body>
</html>

<style>
    h3 {
    color: blue;
    font-size: 40px;
    }
</style>